body{
	background-color: #ffffff;
}
.contain { text-align:left; padding: 0%;}
.authname{ text-align:left; color: #777777; padding: 0%;}
.pricebtn{
	width: 100%;
	padding: 10px;
	background-color: #2ecc71;
	border: none;
	color: white;
}
#title{
	text-align: center;
	width: 100%;
}
.book-library{
	width: 100%;
	box-shadow: 100%;
	text-align: center;
	background-color: #ffffff; /* Add this line */
}
.book{
	margin-top: 20px;
	padding-top: 5%;	
	background-color: #f8f8f8; /* Add this line */
}
#title{
	background-color: #f8f8f8;
}